.Experience {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

    position: relative; /* Add this line for positioning */
  }
  
  .Experience::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #000000, #ffffff); /* Customize the gradient colors as per your preference */
  }
  

.e-heading {
  text-align: center;
  margin-top: 6rem;
}

.e-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 80%;
}

.e-left ul li,
.e-right ul li{
    text-decoration: none;
    gap: 2rem;
    font-size: 1.1rem;
}

.e-left{
    flex: 1;
}
.e-left,
.e-right {
  flex: 1;
  padding-left: 10%;
}
