.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
  font-size: 1.2rem;
  width: 100%;
  z-index: 200;
}

.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
  padding-left: 100px;
}

.n-name {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.n-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 400;
}

.n-list {
  padding-right: 100px;
}

.n-list > ul {
  display: flex;
  gap: 3rem;
  margin-right: 1rem;
}

.n-list > ul :hover {
  color: var(--orange);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
}
